<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <properties>
        <property name="pid">${ctx:_pid}</property>
        <property name="rootPid">${ctx:_rootPid}</property>
        <property name="fatherPid">${ctx:_fatherPid}</property>
        <property name="projectName">${ctx:_projectName}</property>
        <property name="jobName">${ctx:jobName}</property>
        <property name="jobVersion">${ctx:jobVersion}</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{HH:mm:ss} %logger{36}- %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="json_file_appender" fileName="/log/joblog.log"
                                 filePattern="/log/%d{yyyyMMdd}_joblog-%i.log">

            <PatternLayout
                    pattern="[%-5level] - %d{HH:mm:ss} - [rootJob-${}]${projectName}_${jobName}_${jobVersion} - [subJob]%c{10} - %msg%n"
            />
            <!--
            <JsonLayout complete="true">
                <KeyValuePair key="pid" value="${pid}"/>
                <KeyValuePair key="rootPid" value="${rootPid}"/>
                <KeyValuePair key="fatherPid" value="${fatherPid}"/>
                <KeyValuePair key="projectName" value="${projectName}"/>
                <KeyValuePair key="jobName" value="${jobName}"/>
                <KeyValuePair key="jobVersion" value="${jobVersion}"/>
            </JsonLayout> -->
            <Filters>

                <DynamicThresholdFilter key="_projectName" defaultThreshold="INFO"
                                        onMatch="ACCEPT" onMismatch="DENY">
                    <KeyValuePair key="jobName" value="ERROR"/>
                </DynamicThresholdFilter>

                <ContextMapFilter onMatch="ACCEPT" onMismatch="DENY" operator="and">
                    <KeyValuePair key="projectName" value="${ctx:projectName}"/>
                    <KeyValuePair key="jobName" value="${ctx:jobName}" />
                    <KeyValuePair key="jobVersion" value="${ctx:jobVersion}" />
                </ContextMapFilter>

            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="json_file_appender"/>
        </Root>
    </Loggers>
</Configuration>